@font-face {
    font-family: 'Christmas Wish monoline';
    src: url('ChristmasWish-monoline.eot');
    src: url('ChristmasWish-monoline.eot?#iefix') format('embedded-opentype'),
        url('ChristmasWish-monoline.woff2') format('woff2'),
        url('ChristmasWish-monoline.woff') format('woff'),
        url('ChristmasWish-monoline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

